ion-content {
  --ion-background-color: #06182e;
  text-align: center;
}

ion-label {
  --ion-background-color: #f7f7f7;
}

ion-input {
  background-color: #ffffff;
  color: #f7f7f7;
  border-radius: 10px;
}
