<ion-header>
  <ion-toolbar>
    <ion-title size="small">Página Inicial</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-searchbar animated="true" placeholder="Pesquisar"></ion-searchbar>
  <ion-card>
    <img src="assets/img/feira.jpg">
    <ion-card-header>
      <ion-card-subtitle>Lorena-SP</ion-card-subtitle>
      <ion-card-title>Feira local</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Feirantes aceitam usar Views como meio de divulgar seu comercio e ampliar o seu público.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src="assets/img/padaria.jpg">
    <ion-card-header>
      <ion-card-subtitle>Lorena-SP</ion-card-subtitle>
      <ion-card-title>Padaria Local</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Padeiros aceitam usar Views como meio de divulgar seu comercio e ampliar o seu público.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src="assets/img/mercado.jpg">
    <ion-card-header>
      <ion-card-subtitle>Lorena-SP</ion-card-subtitle>
      <ion-card-title>Mercado local</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Mercantes aceitam usar Views como meio de divulgar seu comercio e ampliar o seu público.
    </ion-card-content>
  </ion-card>
</ion-content>
