<ion-content>
  <img src="assets/img/logo.png">
  <div align="center">
    <ion-label>Fazer login</ion-label>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-float-center">
        <div>
          <ion-label>E-mail</ion-label>
          <ion-input type="String" clearInput color=medium [(ngModel)]="email"></ion-input>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-float-center">
        <div>
          <ion-label>Senha</ion-label>
          <ion-input type="password" clearInput color=medium [(ngModel)]="senha"></ion-input>
        </div>
      </ion-col>
    </ion-row>
    <ion-button (click) = "pesquisarUsuario()">Entrar</ion-button>
    <ion-button (click) = "this.router.navigate(['cadastro'])">Cadastrar</ion-button>
    <ion-button (click) = "this.router.navigate(['esqueci-senha'])">Esqueci a senha</ion-button>
  </ion-grid>
  <div align = "center">
    <ion-label>{{resultadoPesquisa}}</ion-label>
  </div>
</ion-content>
